* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bannerImg img {
    width: 100%;
    border-bottom: 12px solid rgba(143, 11, 112, 0.712);
}

.tital1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    padding: 5%;
    opacity: 80%;
    color: rgb(91, 26, 95);
}

.photodiv {
    display: flex;
    flex-wrap: wrap;
    /* allows stacking on smaller screens */
    align-items: center;
    gap: 20px;
    padding: 3%;
    padding-left: 5%;
    background-color: rgba(175, 20, 144, 0.093);
}

.girlPhoto {
    position: relative;
    display: inline-block;
    z-index: 1;
    flex-shrink: 0;
    /* prevents shrinking */

}

/* 3D photo style */
.girlPhoto img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.311);

}

/* 3D frame behind */
.girlPhoto::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 100%;
    height: 100%;
    background-color: #e0e0e079;
    /* frame color */
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.256);
}

/* Text section */
.text {
    flex: 1;
    /* takes up remaining space */
    font-size: 22px;
    line-height: 1.6;
    min-width: 250px;
    padding-left: 3%;
    font-family: 'Source Sans Pro', sans-serif;

}

.text h4 {
    font-family: 'Cambria', serif;
    font-size: xx-large;
    padding-bottom: 2%;
    opacity: 70%;
}

/*
another div 
*/

.entrepreneurs {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;

}


.h4para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    opacity: 80%;
    color: #40004e;
}

#h4para1 {
    padding-top: 50px;
    margin-top: 150px;
}

.textContainer {
    max-width: 100%;
    margin: 50px auto;
    padding: 100px;
    /* border-radius: 12px; */
    font-family: 'Georgia', serif;
    font-size: 18px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-top: 10px;
}

.text-with-icon {
    flex: 0 1 calc(33.333% - 20px);
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    height: 100px;
}

.text-with-icon {
    transition: background-color .8s ease;
}

.text-with-icon .text {
    transition: color 0.3s ease;
}

.text-with-icon:hover {
    background-color: #f8e0ff;
    cursor: pointer;
}

.text-with-icon:hover .text {
    color: #4e004e;
}



.pulse-icon {
    width: 12px;
    height: 12px;
    background-color: #cc00ff;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
}



/* Cards */


body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.card {
    background-color: #f2f4f8;
}

.cards1h1{
    position: absolute;
    top: 235vh;
}

.cards2h1{
    position: absolute;
    top: 295vh;
}

.cards1 {
    background: #f2f4f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    padding-left: 200px;
    padding-right: 200px;
}

.cards2 {
    background: #f2f4f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    padding-left: 150px;
    padding-right: 150px;
    gap: 40px;
}

.education {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.credentialing {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.wallet {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.human-resources {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
    width: 300px;
    height: 360px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    padding: 20px;
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}

.card:hover p {
    color: var(--text-color-hover);
}

.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
        0 15px 24px var(--box-shadow-color);
}

.card p {
    font-size: 17px;
    color: #4C5656;
    z-index: 1000;
    transition: color 0.3s ease-out;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}

.circle img.icon-img {
    width: 66px;
    height: 66px;
    object-fit: contain;
    z-index: 10000;
    position: relative;
}

.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 20px;
    left: 80px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}







.keyDates{
    background: #fffafa;
}


.keyDates h4{
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 0;
    padding-bottom: 5px;
    margin-top: 10vh;
    padding-top: 20px;
    
}


.timeline-wrapper {
    width: 100%;
    padding: 60px 20px;
    background: #fffafa;
    display: flex;
    justify-content: center;
  }
  
  .timeline {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
  
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 4px;
      height: 100%;
      background: #ffeaea;
      z-index: 0;
    }


  
    .timeline-step {
      width: 100%;
      /* max-width: 600px; */
      max-width: 50%;
      position: relative;
      margin: 60px 0;
      animation: fadeUp 0.6s ease forwards;
      opacity: 0;
      transform: translateY(20px);
  
      .content {
        width: 50%;
        background: #ffdee9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 6px 16px rgba(244, 194, 194, 0.3);
        position: relative;
        z-index: 2;
        transition: transform 0.3s ease, box-shadow 0.4s ease, background-color 0.4s ease;
      
        h3 {
          margin: 0 0 5px;
          font-size: 1.2rem;
          color: #cc3366;
        }
      
        p {
          margin: 0;
          font-size: 1rem;
          color: #663366;
        }
      
        &:hover {
          background-color: #ffe6f0;
          box-shadow: 0 0 20px 6px rgba(204, 51, 102, 0.3);
          transform: scale(1.02);
          cursor: default;
        }
      }
      
      &::before {
        content: "";
        position: absolute;
        top: 20px;
        width: 20px;
        height: 20px;
        background: #f4c2c2;
        border: 4px solid #fff;
        border-radius: 50%;
        z-index: 3;
      }
  
      &.left {
        left: 0;
        text-align: left;
       
        transform: translateY(20px);
  
        .content {
          /* margin-right: auto; */
          transform: translateX(-50px);
           margin-left: 50vh;
        }
  
        &::before {
          right: -10px;
        }
      }
  
      &.right {
        left: 50%;
        text-align: right;
        transform: translateY(40px);
  
        .content {
          /* margin-left: auto; */
          transform: translateX(50px);
        }
  
        &::before {
          left: -10px;
        }
      }
    }
  }
  
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  @media (max-width: 768px) {
    .timeline {
      &::before {
        left: 10px;
      }
  
      .timeline-step {
        &.left, &.right {
          left: 0;
          .content {
            margin: 0;
            transform: none;
          }
          &::before {
            left: -20px;
          }
        }
      }
    }
  }
  